* {
    margin: 0;
    padding: 0;
}
.latam{
    width: 150px;
    height: 60px;
    grid-area: latam;
    margin: 7px;
}
.menu{
    background: rgb(16, 0, 79);
    height: 75px;
}
.icono-barra{
    color: white;
    font-size: 1.5em;
    margin: 15px  15px 20px 20px;
    grid-area: icono-barra;
    float: right;
}
.style-contenedor{
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 6px 5px 5px rgb(194, 193, 193);
    display: grid;
    margin: 0 auto;
    border-radius: 8px;
    width: 60%;
    padding-bottom: 20px;
    grid-template: "encabezado  encabezado encabezado" 35px
                    "salida     duracion   llegada" 35px
                    "salida     duracion   destino" 35px
                    ;
}
.style-encabezado{
    grid-area: encabezado;
    background: darkcyan;
    color: white;
    width: 130px;
    padding-top: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.style-salida{
    grid-area: salida;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    font-size: 1.3em;
    color: rgb(16, 0, 79);
    border-bottom: 1px solid gray;
}
.style-llegada{
    grid-area: llegada;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    color: rgb(16, 0, 79);
}
.style-destino{
    grid-area: destino;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid gray;
    font-weight: 550;
}
.style-duracion{
    grid-area: duracion;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid gray;
    font-size: 1.04em;
}

