*{
    margin: 0;
    padding: 0;
}

.container_flex1{
    display: flex;
    background-color: rgb(71, 192, 192);
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.item_flex{
    background-color: rgb(147, 115, 206);
    color: white;
    font-size: 1.5em;
   width: 200px;
   height: 200px;
}
.item_1{
    order: 3;
}
.item_2{
    order: 4;
}
.item_3{
    order: 1;
}
.item_4{
    order: 0;
}
.item_5{
    order: 5;
}
.item_6{
    order: 2;
}