* {
    margin: 0;
    padding: 0;
}
.container-flex-1 {
    display: flex;
    background-color: rgb(184, 88, 33);
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.item-flex {
    background-color: rgb(54, 19, 138);
    color: white;
    font-size: 1.5em;
    height: 250px;
}
.item_1 {
    flex-basis: 200px;
}
.item_2 {
    flex-basis: 300px;
}
.item_3{
    flex-basis: 100px;
}
.item_4 {
    flex-basis: 250px;
}
.item_5 {
    flex-basis: 150px;
}
.item_6 {
    flex-basis: 600px;
}
