*{
    margin: 0;
    padding: 0;
}

.container_flex1{
    display: flex;
    background-color: rgb(71, 192, 192);
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.item_flex{
    background-color: rgb(147, 115, 206);
    color: white;
    font-size: 1.5em;
   /* width: 200px;*/
    height: 200px;
}
.item_1{
   flex-grow: 2;
}
.item_2{
    flex-grow: 3;
}
.item_3{
    flex-grow: 1;
}
.item_4{
    flex-grow: 6;
}
.item_5{
    flex-grow: 1;
}
.item_6{
    flex-grow: 2;
}