
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */