h1{
    text-align: center;
    color: white;
}
body{
    background-color: rgb(38, 71, 84);
}
fieldset{
    border-radius: 8px ;  
    border: 1px white solid;
    padding: 20px;
    padding-left: 50px;
}
::placeholder{
    color: rgb(199, 199, 199);
}
form{
    width: 30%;
    margin: 50px auto;
    color: white;
}
.nombres{
    border: none;
    background-color: rgb(38, 71, 84);
    margin-bottom: 5px;
    width: 50%;
    padding: 5px;
    border-bottom: 1px white solid;
}
.observaciones{
    width: 60%;
    background-color: rgb(38, 71, 84);
    border: solid 1px rgb(231, 230, 230);
}
.input_width{
    width: 98%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: rgb(38, 71, 84);
    border-bottom: 1px ;
    color: white;
}
.medicos{
    width: 50%;
    background-color: rgb(38, 71, 84);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
}
.submit_enviar{
    background-color: rgba(55, 157, 252, 0.836);
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 1.3em;
    padding: .6em;
    cursor: pointer;
}
.submit_enviar:hover{
    transform: translateY(-3px);
    background-color: #1cb5af;
}
@media only screen and (max-width:1060px) {
    fieldset{
        width: 80%;
    }
}
@media only screen and (max-width:620px) {
    fieldset{
        width: 90%;
    }
}
@media only screen and(max-width:520px) {
    fieldset{
        width: 90%;
    }
    .nombres{
        width: 90%;
    }
    .observaciones{
        width: 250px;
    }
    .submit_enviar{
        width: 96%;
    }
}
