*{
    padding: 0px;
    margin: 0px;
}
#nav-var{
    display: inline-block;
    width: 100%;
}
ul{
    margin: 15px;
    margin-top: 40px;
    font-size: 1.2em;
    text-align: center;
}
.menu_horizontal{
    background-color: darkslategrey;
    margin-bottom: 10px;
    color: white;
    padding: 15px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}
.menu_horizontal:hover{
    background-color:rgb(105, 145, 145);
    font-size: 1.1em;
}
   