*{
    padding: 0px;
    margin: 0px;
}
h1,h2  {  
    text-align: center;
    font-style: italic;
   }

.header{
    width: 100%;
    height: 100px;
    background-color: lightgray;
    position: fixed;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.container{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 100px;
}

.linea-abajo {
    text-decoration-line: underline;
}
   
img {
    margin:  0 auto 0 auto;
    display: block;
}

p {
    text-align: center;
}

h2.font-cinzel {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
}

h2.font-Shadows {
    font-family:'Shadows Into Light', Arial, Helvetica, sans-serif;
}

.fuente-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}

.fuente-negrita {
    font-weight: bold;
}

.fuente-italica {
    font-size: 32pt;
    font-style: italic;
}

span.resaltado {
    font-size: 3em;
    color: lightgreen;
    font-weight: bold;
    font-family: 'roboto', serif
}

.enlace {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5em;
}
.espaciado-palabra{
    font-size: 2em;
    word-spacing: 1.2em;
    line-height: 2em;
}

.espaciado-letra{
    letter-spacing: 1em;
    font-size: 1.5em;
}

.alineacion-izquierda{
    text-align: left;
    font-size: 1.5em;
}

.alineacion-derecha{
    text-align: right;
    font-size: 1.5em; 
}

.alineacion-centrada{
    text-align: center;
    font-size: 1.5em;
}

.alineacion-justificada{
    text-align: justify;
    font-size: 1.5em;
}

p.indentado{
    text-align: justify;
    text-indent: 4em;
    font-size: 1.5em;
}
.letra{
    font-size: 4em;
    font-weight: 900;
}

blockquote{
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    color: lightskyblue;
}

.prueba-margenes{
    width: 400px;
    height: 400px;
    display: inline-block;
    background: mediumslateblue;
    margin: 50px 50px;
}

.contenedor-principal{
    width: 90%;
    display: inline-block;
    margin: 0 auto;
}

.mi-padding1{
    background-color: cadetblue;
    width: 200px;
    display: inline-block;
    margin: 50px 50px 50px 50px;
    padding: 30px;
    border: solid 3px black;
}

.mi-padding2{
    background-color: lightcoral;
    width: 200px;
    display: inline-block;
    margin: 50px 50px 50px 50px;
    padding: 30px;
    border: dotted black;
}

.mi-padding3{
    background-color: thistle;
    width: 200px;
    display: inline-block;
    margin: 50px 50px 50px 50px;
    padding: 30px;
    border: double black;
}

/* shadows-into-light-regular - latin */
@font-face {
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/shadows-into-light-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/shadows-into-light-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/shadows-into-light-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/shadows-into-light-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/shadows-into-light-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/shadows-into-light-v10-latin-regular.svg#ShadowsIntoLight') format('svg'); /* Legacy iOS */
  }


.icon-users:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */